body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  text-align: center;
  line-height: 1;

}
h2{
  color: #66BFBF;

  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;


}
a{
  color: #11999E;
}
hr {
  background-color: white;
  color: white;
  border-style: none;
  border-top: 10px dotted #EAF6F6;
  margin: 100px auto;
  width: 4%;

}
p{
  line-height: 2;
  /* font-weight: bold; */
}



/*------------------------------ CLASS SELECTORS --------------------------- */
.top-container{
  background-color: /*#D2F5E3*/#E4F9F5 ;
  position: relative;
  padding: 100px;
}

.middle-container{
  padding-top: 100px;
  padding-bottom: 100px;

}
.bottom-container{
  font-family: 'Montserrat', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #66BFBF;

}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 400px;


}

.topcloud{
  position: absolute;
  right: 300px;
  top : 70px;
}

.mountain{

}
.profilephoto{
  position: relative;
  top: 12px;
  height: 200px;
  width: 200px;
}
.skillsphoto{
  /* height: 200px; */
  width: 25%;
  float: left;
  margin-right: 30px;

}
.cameraskillsphoto{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.programmer{
  font-weight: normal;

}
.skill-row{
  margin:100px auto 100px auto;
  width: 40%;
  width: 50%;
  text-align: left;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 2px 3px 7px #666666;
  -webkit-box-shadow: 0px 3px 11px #666666;
  -moz-box-shadow: 0px 3px 11px #666666;
  box-shadow: 0px 3px 11px #666666;
  font-family: 'Montserrat', sans-serif;

  color: #ffffff;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.footer{
  color: #EAF6F6;
}
.contact-me{
  margin-bottom: 50px;
}
.profile{
  margin-bottom: 40px;
}
.footer-link{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight:bolder;

  align-items: center;
  margin: 10px 20px;
  clear: left;
}
.footer-link:hover{
  color: #EAF6F6;
}
.footerlogo{
  width : 2%;

}
.footer{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 50px;
  margin-bottom: 0;
}
.intro{
  margin: auto;
  width: 30%;
}
